h1 {
    background-color:mediumvioletred;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 100%;
    margin: 0;
    z-index: 5;
}
.menuBar {
    background-color: darkred;
    position: fixed;
    top: 150px;
    left: 0px;
    height: 100px;
    width: 100%;
    margin: 0;
    z-index: 5;
}